
*.compiled
lib/x86_64-linux/lazrandr.o
lib/x86_64-linux/lazrandr.or
lib/x86_64-linux/lazrandr.res
lib/x86_64-linux/unit1.o
published/lazrandr.zip
lib/x86_64-linux/unit1.ppu
lib/x86_64-linux/unit1.lfm
lazrandr
